.navbar--text{
    color: #f9f9f8 !important;
}

.navbar--text>ul>li>a{
    color: #f9f9f8 !important;
    text-decoration: none;
}
.navbar--text>ul>li:hover{
    border-bottom: 2px solid #f9f9f820;
    border-bottom-color: #f94d5d ;
    padding: .1rem;
    transition:
      border-bottom-color 0.15s linear 0.40s;
}
.navbar--text>ul>li>a:hover{
    font-size: 1.03rem;
}
.navbar--text>ul>li .isActive{
    color: #f94d5d !important;
}

#navbarContent .dropdown-menu{
    --bs-dropdown-min-width: .8rem;
    border-radius: 0 !important;
    border: 0 !important;
}

@media (min-width: 992px) {
    .nav{
        height: 150px;
    }
    .navbar--text>ul>li{
        padding: 0 !important;
        height: 6vh !important;
    }
}